@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LexendDeca';
    src: url('/fonts/LexendDeca-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoSans';
    src: url('/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/***************************/
/* CSS de la page de Login */
/***************************/

.login-page {
    background: url('images/login-background.jpg') no-repeat center fixed;
    background-size: cover;
    min-height: 100vh;
}

.login-item {
    background-color: #D9D9D9;
    border-radius: 45px;
/*    border: 1px solid #1e1e1e;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.login-text {
    color: #000000;
    padding: 2vh 0 0 4vh;
    font-family: Inter;
    font-size: 1.5rem;
}

.login-field {
    background-color: #eeeeee;
    margin: 0 3vh;
    box-shadow: 4px 4px 4px inset;
    
    border-radius: 45px;
/*    border: 1px solid #1e1e1e;*/
}

.login-field .mud-input.mud-input-outlined .mud-input-outlined-border {
    border-radius: 45px !important;
}

.login-field .mud-input-outlined-border:hover {
    border-radius: 45px !important;
}

.login-button {
    color: #FFFFFF;
    background-color: rgb(255,102,22, 0.55);
    margin: 3vh 0 0 0;
    left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
}

.login-button:hover {
    background-color: rgb(255,102,22, 0.85) !important;
}

.login-passwordtext {
    padding: 0 0 0 4vh;
    font-family: Inter;
    font-size: 1rem;
    font-style: italic;
    text-decoration: underline;
}


/***********************************/
/* CSS pour la barre de Navigation */
/***********************************/

.navbar-drawer {
    border-radius: 0 25px 25px 0;
}

.navlink-position {
    position: absolute;
    width: auto;
    right: 0%;
}

.navbar-avatar {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.navbar-badge {
    min-width: 2rem;
    height: 2rem;
    position: absolute;
    z-index: 2;
    left: 2.5rem;
    top: 2rem;
}

.navbar-mainmenu {
    position: relative;
    background: linear-gradient(#FF6616, #993D0D);
    max-width: 100px;
    height: 100%;
    z-index: 2;
}

.navbar-tooltip {
    display: inline-block;
    height: 30px;
    font-size: 16px;
    font-family: Montserrat;
}

.navbar-icon {
    font-size: 2rem;
}

.navbar-submenu {
    position: absolute;
    background-color: rgba(46, 58, 108, 1);
    margin-left: 100px;
    width: 140px;
    height: 100%;
    z-index: 1;
}


/***********************************/
/* CSS pour les différents Channel */
/***********************************/

.card-font {
    font-family: Inter;
}

.card-avatar {
    width: 50px !important;
    height: 50px !important;
}

.card-content {
    max-width: auto;
    height: auto;
}

.card-received {
    background-color: #F2EEEE;
    border-radius: 25px 25px;
    border: 1px solid #B3B3B3;
}

.received-fontcolor {
    color: #757575;
}

.card-sender {
    position: relative;
    background-color: white;
    border-radius: 25px 25px;
    border: 1px solid #B3B3B3;
}

.card-sender:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #021652;
    opacity: 0.7;
    border-radius: 25px 25px;
    z-index: 1;
    pointer-events: none;
}

.sender-fontcolor {
    color: #F3F3F3;
    z-index: 2;
}

.sender-text {
    opacity: 0.7;
    
}

.card-username {
    font-weight: 500;
}

.message-container {
    position: fixed;
    margin-top: 9vh;
    height: 75%;
    margin-bottom: 10vh;
    overflow-y: auto;
}

.sentbar {
    position: fixed;
    bottom: 2vh;
    width: 100vh;
    justify-content: center;
}


@media (min-width: 641px) {
    .login-item {
        width: 500px;
    }

    .card-avatar {
        width: 60px !important;
        height: 60px !important;
    }

    .sentbar {
        position: fixed;
        bottom: 2vh;
        width: auto;
        left: 10vh;
        right: 10vh;
    }

    .message-container {
        height: 75%;
        margin-top: 9vh;
        width: auto;
        left: 10vh;
        right: 10vh;
        overflow-y: scroll;
    }

}

@media (min-width: 850px) {
    .navbar-drawer {
        border-radius: 0 25px 25px 0;
        width: 320px !important;
    }

    .mud-drawer.mud-drawer-responsive.mud-drawer-pos-left.mud-drawer--closed, .mud-drawer.mud-drawer-persistent.mud-drawer-pos-left.mud-drawer--closed {
        box-shadow: none;
        left: calc(-1* 320px) !important;
        transition: transform 0.4s ease-in-out;
    }

    .navbar-submenu {
        width: 220px;
    }

    .card-content {
        max-width: 60%;
    }

    .message-container {
        left: 15vh;
        right: 25vh;
    }

    .sentbar {
        left: 15vh;
        right: 25vh;
    }
}

@media (min-width: 1450px) {
    .message-container {
        left: 33vh;
        right: 35vh;
    }

    .sentbar {
        left: 33vh;
        right: 35vh;
    }
}