<div class="nav-item" style="top: 7rem; position: absolute;">
    <MudTooltip Arrow="true" Placement="Placement.Right" Text="Accueil" Class="navbar-tooltip">
        <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
            <MudIcon Class="navbar-icon" Icon="@Icons.Material.Filled.Home" Title="Accueil"></MudIcon>
        </NavLink>
    </MudTooltip>
</div>

@code {

}
