@page "/counter"
@attribute [Authorize]
@rendermode InteractiveServer

<PageTitle>AccessMNS - Counter</PageTitle>

<nav class="flex-column">
	<div class="nav-item" style="top: 7rem">
		<MudTooltip Arrow="true" Placement="Placement.Right" Text="Accueil" Class="navbar-tooltip">
			<NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
				<MudIcon Class="navbar-icon" Icon="@Icons.Material.Filled.Home" Title="Accueil"></MudIcon>
			</NavLink>
		</MudTooltip>
	</div>
</nav>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
