@* <div class="top-row ps-3 navbar navbar-dark"> *@
@*     <div class="container-fluid"> *@
@*         <a class="navbar-brand" href="">AccessMNS</a> *@
@*     </div> *@
@* </div> *@

@* <input type="checkbox" title="Navigation menu" class="navbar-toggler" /> *@

<nav class="navbar-mainmenu">
    <div class="nav-item navlink-position">
        <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>
        </NavLink>
    </div>

    <div class="nav-item navlink-position" style="top: 30%;">
        <MudTooltip Arrow="true" Placement="Placement.Right" Text="Messages Privés" Class="navbar-tooltip">
            <NavLink class="nav-link" href="counter">
                <MudIcon Icon="@Icons.Material.Filled.MailOutline" Title="Messages Privés" Style="font-size: 32px"></MudIcon>
            </NavLink>
        </MudTooltip>
    </div>

    <div class="nav-item navlink-position" style="top: 40%;">
        <MudTooltip Arrow="true" Placement="Placement.Right" Text="Canaux de discussions" Class="navbar-tooltip">
            <NavLink class="nav-link" href="chatchannel/1&2">
                <MudIcon Icon="@Icons.Material.Filled.Message" Title="Canaux de discussions" Style="font-size: 32px"></MudIcon>
            </NavLink>
        </MudTooltip>
    </div>

    <div class="nav-item navlink-position" style="top: 78%;">
        <MudTooltip Arrow="true" Placement="Placement.Right" Text="Paramètres" Class="navbar-tooltip">
            <NavLink class="nav-link" href="weather">
                <MudIcon Icon="@Icons.Material.Filled.Settings" Title="Paramètre" Style="font-size: 32px"></MudIcon>
            </NavLink>
        </MudTooltip>
    </div>

    <div class="nav-item navlink-position" style="top: 88%;">
        <MudTooltip Arrow="true" Placement="Placement.Right" Text="Déconnexion" Class="navbar-tooltip">
            <NavLink class="nav-link" href="logout">
                <MudIcon Icon="@Icons.Material.Filled.Logout" Title="Déconnexion" Style="font-size: 32px"></MudIcon>
            </NavLink>
        </MudTooltip>
    </div>
</nav>